In [2]:
%matplotlib inline

import pandas as pd
import argparse
import numpy as np
from math import radians, degrees, sin, cos, asin, acos, sqrt
from itertools import combinations

In [3]:
#adding places in a file named places.csv

df = pd.read_csv("places.txt",encoding = "ISO-8859-1")

In [4]:
df.head(10)

                     Name  Latitude  Longitude
0                    Alta  69.96887   23.27165
1               Anchorage  61.21806 -149.90028
2                 Jakarta  -6.21462  106.84513
3                  London  51.50853   -0.12574
4            Longyearbyen  78.22334   15.64689
5              North pole  90.00000    0.00000
6                    Oslo  59.91273   10.74609
7              South pole -90.00000    0.00000
8  Troll research station -72.00194    2.53389
9                   Vardø  70.37048   31.11066

In [5]:
n = None

In [6]:
#Write a command line program that takes one optional integer argument n

parser = argparse.ArgumentParser()

parser.add_argument('user_input', type = int)

try:
    args = parser.parse_args()

    n = args.user_input

except:
    n = None

usage: ipykernel_launcher.py [-h] user_input
ipykernel_launcher.py: error: argument user_input: invalid int value: 'C:\\Users\\Parthasarthi\\AppData\\Roaming\\jupyter\\runtime\\kernel-f80d495f-aa19-4974-8f43-c1ea8844fa58.json'

In [7]:
# If no argument is given, use places.csv as input

def get_place_combinations(places):
    temp = []
    for p in combinations(places, 2):
        temp.append(list(p))        
    return temp

In [8]:
##If n is given, use n randomly generated places as input

if n == None:
    places_pairs = get_place_combinations(list(df['Name']))
else:
    places_pairs = get_place_combinations(list(df['Name'].sample(n)))

In [9]:
## Find the air distance (great circle distance) between all pairs of places. Discard pairs
## having the same pair of places as another pair


def get_pairs_distance(pair):
    lon1 = df[df['Name']== pair[0]]['Longitude']
    lat1 = df[df['Name']== pair[0]]['Latitude']
    lon2 = df[df['Name']== pair[1]]['Longitude']
    lat2 = df[df['Name']== pair[1]]['Latitude']

    # great circle distance
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])   
    return 6371*(acos(sin(lat1)*sin(lat2)+cos(lat1)*cos(lat2) * cos(lon1 - lon2)))

In [10]:
## Write out all place pairs and distances by ascending distance, lines column aligned

places_pairs_distance = [[p[0],p[1],get_pairs_distance(p)] for p in places_pairs]

In [11]:
output = pd.DataFrame(places_pairs_distance, columns = ["place_1", "place_2", "distance"])

In [12]:
output = output.sort_values(by = 'distance')
output = output.reset_index(drop=True)

In [13]:
print(output)
print('\n')

                   place_1                 place_2      distance
0                     Alta                   Vardø    298.834588
1                     Alta            Longyearbyen    944.889352
2             Longyearbyen                   Vardø    982.182938
3                   London                    Oslo   1153.250617
4                     Alta                    Oslo   1258.598030
5             Longyearbyen              North pole   1309.504845
6                     Oslo                   Vardø   1487.618782
7               South pole  Troll research station   2001.292961
8             Longyearbyen                    Oslo   2043.618944
9               North pole                   Vardø   2182.703036
10                    Alta              North pole   2227.360031
11                    Alta                  London   2380.318992
12                  London                   Vardø   2630.124852
13                  London            Longyearbyen   3037.634302
14               Anchorage              North pole   3200.405707
15              North pole                    Oslo   3345.551781
16                  London              North pole   4280.056183
17               Anchorage            Longyearbyen   4479.354056
18               Anchorage                   Vardø   5382.894281
19                    Alta               Anchorage   5417.856476
20               Anchorage                    Oslo   6443.941327
21               Anchorage                  London   7196.311957
22                 Jakarta              South pole   9316.509183
23                 Jakarta  Troll research station   9835.333104
24                 Jakarta                   Vardø  10132.856897
25                    Alta                 Jakarta  10412.953076
26                 Jakarta              North pole  10698.577613
27                 Jakarta            Longyearbyen  10711.167389
28                 Jakarta                    Oslo  10945.026837
29               Anchorage                 Jakarta  11320.469203
30                 Jakarta                  London  11718.458332
31                  London  Troll research station  13735.320662
32                    Oslo  Troll research station  14681.854014
33                  London              South pole  15735.030613
34                    Alta  Troll research station  15857.859463
35  Troll research station                   Vardø  15964.878257
36                    Oslo              South pole  16669.535015
37            Longyearbyen  Troll research station  16725.447181
38               Anchorage              South pole  16814.681089
39                    Alta              South pole  17787.726765
40              South pole                   Vardø  17832.383760
41              North pole  Troll research station  18013.793835
42               Anchorage  Troll research station  18335.529375
43            Longyearbyen              South pole  18705.581951
44              North pole              South pole  20015.086796

In [14]:
## write out the average distance and the place pair and corresponding
## distance having the distance closest to the average value


mean_dist = output['distance'].mean()

min_dist_pair = []
diff = float('inf')

for p1,p2,d in zip(output['place_1'],output['place_2'],output['distance']):
    if abs(mean_dist - d) < diff:
        diff = abs(mean_dist - d)
        min_dist_pair = [p1,p2,d]

print(f"Average distance: {round(mean_dist,1)} km. Closest pair: {min_dist_pair[0]}-{min_dist_pair[1]} {round(min_dist_pair[2],1)} km.")

Average distance: 8792.2 km. Closest pair: Jakarta-South pole 9316.5 km.